<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Facebook Theme Demo</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/facebook/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <link href="/static/facebook/css/facebook.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">

                <!-- main right col -->
                <div class="column col-sm-12 col-xs-12" id="main">

                    <!-- top nav -->
                    <div class="navbar navbar-blue navbar-static-top">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button"
                                data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="sr-only">Toggle</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="http://usebootstrap.com/theme/facebook"
                                class="navbar-brand logo">b</a>
                        </div>
                        <nav class="collapse navbar-collapse" role="navigation">
                            <form class="navbar-form navbar-left">
                                <div class="input-group input-group-sm"
                                    style="max-width:360px;">
                                    <input class="form-control"
                                        placeholder="Search" name="srch-term"
                                        id="srch-term" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default"
                                            type="submit"><i
                                                class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#"><i
                                            class="glyphicon glyphicon-home"></i>
                                        Home</a>
                                </li>
                                <li>
                                    <a href="#postModal" role="button"
                                        data-toggle="modal"><i
                                            class="glyphicon glyphicon-plus"></i>
                                        Post</a>
                                </li>
                                <li>
                                    <a href="#"><span
                                            class="badge">badge</span></a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"
                                        data-toggle="dropdown"><i
                                            class="glyphicon glyphicon-user"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /top nav -->

                    <div class="padding">
                        <div class="full col-sm-9">

                            <!-- content -->
                            <div class="row post-container">

                                <!-- top status form -->
                                <div class="well">
                                    <form class="form-horizontal" role="form">
                                        <h4>What's New</h4>
                                        <div class="form-group"
                                            style="padding:14px;">
                                            <textarea class="form-control"
                                                placeholder="Update your status"></textarea>
                                        </div>
                                        <button
                                            class="btn btn-primary pull-right"
                                            type="button">Post</button>
                                        <ul class="list-inline">
                                            <li><a href=""><i
                                                        class="glyphicon glyphicon-upload"></i></a>
                                            </li>
                                            <li><a href=""><i
                                                        class="glyphicon glyphicon-camera"></i></a>
                                            </li>
                                            <li><a href=""><i
                                                        class="glyphicon glyphicon-map-marker"></i></a>
                                            </li>
                                        </ul>
                                    </form>
                                </div>

                                <!-- posts begin here -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <img src="/static/facebook/logo.jpg"
                                            width="50px"
                                            style="border-radius: 50%;">
                                        <span
                                            style="margin-left: 8px; font-weight: bold; font-size: 1.7rem;">Nike</span>
                                    </div>
                                    <div class="panel-body">
                                        <p class="lead" style="color: black;">
                                            Post Title</p>
                                        <p>Post description</p>
                                        <p>
                                            <img src="/static/facebook/img/bg_4.jpg"
                                                class="img-responsive">
                                        </p>
                                        <div class="row">
                                            <div class="col col-md-6">
                                                12 Likes
                                            </div>
                                            <div
                                                class="col col-md-6 text-right">
                                                <span>3
                                                    Comments</span>&nbsp;&nbsp;
                                                <span>10 Shares</span>
                                            </div>
                                        </div>
                                        <hr
                                            style="margin-left: 15px; margin-right: 15px; margin-bottom: 10px; margin-top: 10px;">
                                        <div class="row">
                                            <div
                                                class="col col-md-4 text-center">
                                                <button
                                                    class="btn btn-action-box">
                                                    <i
                                                        class="glyphicon glyphicon-thumbs-up"></i>
                                                    Like
                                                </button>
                                            </div>
                                            <div
                                                class="col col-md-4 text-center">
                                                <button
                                                    class="btn btn-action-box">
                                                    <i
                                                        class="glyphicon glyphicon-comment"></i>
                                                    Comment
                                                </button>
                                            </div>
                                            <div
                                                class="col col-md-4 text-center">
                                                <button
                                                    class="btn btn-action-box">
                                                    <i
                                                        class="glyphicon glyphicon-share"></i>
                                                    Share
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/row-->

                            <div style="padding: 50px;"></div>

                        </div><!-- /col-9 -->
                    </div><!-- /padding -->
                </div>
                <!-- /main -->

            </div>
        </div>
    </div>


    <!--post modal-->
    <div id="postModal" class="modal fade" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">x</button>
                    <h3>Create New Post</h3>
                </div>
                <div class="modal-body" style="padding: 10px;">
                    <form class="form center-block">
                        <div class="form-group">
                            <label for="postTitle">Title: </label>
                            <input type="text" id="postTitle" name="title"
                                class="form-control">
                            <label for="postDescription">Description: </label>
                            <input type="text" id="postDescription"
                                name="description" class="form-control">
                            <label for="postImage">Image: </label>
                            <input type="text" id="postImage" name="image"
                                class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn btn-primary" data-dismiss="modal"
                            aria-hidden="true">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/facebook/js/jquery.js"></script>
    <script type="text/javascript"
        src="/static/facebook/js/bootstrap.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>