{% extends 'backend/base.html' %} {% block content %}
<!-- sidebar -->
{% include 'backend/sidebar.html' %}
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        {% include 'backend/topbar.html' %}
        <div class="container-fluid">
            <h2>Analytics</h2>
            {% if customTables %}
            <div class="row">
                <div class="container-fluid">
                    <h3>Select a Table</h3>
                    <br />
                    {% for table in customTables %}
                    <a href="{% url 'backend:analytics' table.id %}">
                        <div class="col col-4">
                            <div class="card bg-primary text-white shadow">
                                <div class="card-body">
                                    {{ table.name }}
                                    <!-- <div class="text-white-50 small">
                                            {{ campaign.created_at }}
                                        </div> -->
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col">
                    <form class="form-inline">
                        <label class="my-1 mr-2">Function</label>
                        <select class="custom-select my-1 mr-sm-2"
                            id="selectFunction">
                            <option value="sum">Sum</option>
                            <option value="mean">Mean</option>
                            <option value="median">Median</option>
                            <option value="min">Min</option>
                            <option value="max">Max</option>
                            <option value="T">Transpose</option>
                            <option value="groupby">Group By</option>
                            <option value="pivot">Pivot</option>
                        </select>

                        <label class="my-1 mr-2">Column</label>
                        <select id="selectColumn"
                            class="custom-select my-1 mr-sm-2">
                        </select>

                        <button id="applyFunction" type="button"
                            class="btn btn-primary my-1">
                            Apply
                        </button>
                        <div class="col">
                            <div id="functionResult"
                                style="color: black; font-weight: bold; font-size: 1.2rem;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <h2>Forecasting</h2>
            <form class="form-inline forecast">
                <label class="my-1 mr-2">column1</label>
                <select
                    class="custom-select my-1 mr-sm-2 forecasting-select-column"
                    id="selectFunction">
                </select>

                <label class="my-1 mr-2">column2</label>
                <select id="selectColumn"
                    class="custom-select my-1 mr-sm-2 forecasting-select-column">
                </select>

                <input type="text"
                    class="form-control form-control-user my-1 mr-sm-2"
                    name="column1-value" placeholder="Enter value of column1" />

                <button id="forecastFunction" type="button"
                    class="btn btn-primary my-1">
                    Forecast
                </button>
                <div class="col">
                    <div id="forecastingResult" class="mt-2"
                        style="color: black; font-weight: bold; font-size: 1.2rem;">
                    </div>
                </div>
            </form>
            <div class="row">
                <input type="hidden" id="customTableId"
                    value="{{ customTableId }}" />
                <div
                    style="display: block; position: absolute; height: 65%; width: 85%; overflow: scroll;">
                    <table class="table table-bordered dataTable" id="dataTable"
                        cellspacing="0" role="grid" style="background: white;">
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#customTableId').val()) {
            loadTable(customTableId);
        }

        $('#applyFunction').click(function () {
            applyFunction(
                $('#customTableId').val(),
                $('#selectFunction').val(),
                $('#selectColumn').val()
            );
        });
        $('#forecastFunction').click(function () {
            forecastFunction(
                $('#customTableId').val(),
                $('.forecasting-select-column:eq(0)').val(),
                $('.forecasting-select-column:eq(1)').val(),
                $('.forecast input').val()
            );
        });
    });

    function loadTable(customTableId) {
        $.post(
            '/api/analytics',
            { data: JSON.stringify({ customTableId: $('#customTableId').val(), functions: {} }) },
            function (response) {
                var table = response.table;
                var data = $.parseJSON(table.data);
                createTable(data);
            }
        );
    }

    function applyFunction(customTableId, fn, column) {
        var data = {
            customTableId: customTableId,
            functions: {}
        };
        data.functions[fn] = column;
        $.post('/api/analytics', { data: JSON.stringify(data) }, function (
            response
        ) {
            if (response.table) {
                console.log(response.table);
                $('#dataTable').empty();
                createTable($.parseJSON(response.table.data));
            } else {
                $('#functionResult').text(response.result);
            }
        });
    }

    function createTable(data) {
        $('#dataTable').append(
            "<thead><tr id='header' role='row'></tr></thead><tbody id='tableBody'></tbody>"
        );
        // populate columns
        var columns = Object.keys(data);
        columns.forEach(function (column) {
            $('#header').append(`<th>${column}</th>`);
            $('#selectColumn').append(
                `<option value="${column}">${column}</option>`
            );
            $('.forecasting-select-column:eq(0)').append(
                `<option value="${column}">${column}</option>`
            );
            $('.forecasting-select-column:eq(1)').append(
                `<option value="${column}">${column}</option>`
            );
        });

        // populate rows
        var rowIds = Object.keys(data[columns[0]]);
        rowIds.forEach(function (row) {
            var rowData = '<tr>';
            columns.forEach(function (col) {
                rowData += `<td>${data[col][row]}</td>`;
            });
            rowData += '</tr>';
            $('#tableBody').append(rowData);
        });
    }
    function forecastFunction(customTableId, column1, column2, column1_x) {
        let data = {
            customTableId: customTableId,
            column1: column1,
            column2: column2,
            column1_x: column1_x
        };
        $.post('/api/forecast/', { data: JSON.stringify(data) }, function (
            response
        ) {
            console.log(response);
            if (response !== undefined) {
                $('#forecastingResult').text(
                    `${column2}: ${response.predictedVal}`
                );
            }
        });
    }
</script>
{% endblock %}