{% extends 'backend/base.html' %} {% block content %}
<!-- sidebar -->
{% include 'backend/sidebar.html' %}
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- topbar here -->
        {% include 'backend/topbar.html' %}

        <br />
        <!-- Add Campaign-->
        <div class="row">
            <div class="col-md-6 offset-md-2">
                <h2>Create Campaign</h2>
                <form
                    id="fromCreateCampaign"
                    class="user container"
                    action="/api/create_campaign"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <div class="form-group">
                        <input
                            type="text"
                            name="campaignName"
                            class="form-control form-control-user"
                            placeholder="Campaign Name"
                        />
                    </div>
                    <div class="form-group">
                        <label>Data Source</label>
                        <select
                            id="sourceType"
                            class="form-control"
                            name="sourceType"
                        >
                            <option value="sm">Social Media</option>
                            <option value="api">API Endpoint</option>
                            <option value="csv">CSV File</option>
                        </select>
                    </div>
                    <div id="optionalElements">
                        <div id="selectSocialMedia" class="form-group">
                            <label>Select Social Media</label>
                            <select
                                id="socialMedia"
                                class="form-control"
                                name="socialMedia"
                            >
                                <option value="facebook">Facebook</option>
                                <option value="twitter">Twitter</option>
                                <option value="google">Google</option>
                            </select>
                        </div>
                        <div id="selectAPI" class="form-group">
                            <input
                                type="text"
                                class="form-control form-control-user"
                                name="api"
                                placeholder="Enter API Endpoint"
                            />
                        </div>
                        <div id="selectCSV" class="form-group">
                            <input id="fileupload" type="file" name="file" multiple>
                        </div>
                    </div>
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control form-control-user"
                            name="fields"
                            placeholder="Fields"
                        />
                    </div>
                    <div class="form-group">
                        <label>Schedule</label>
                        <div class="row">
                            <div class="checkbox col-md-2">
                                <label
                                    ><input
                                        type="radio"
                                        name="schedule"
                                        value="DAILY"
                                    />
                                    Daily</label
                                >
                            </div>
                            <div class="checkbox col-md-2">
                                <label
                                    ><input
                                        type="radio"
                                        name="schedule"
                                        value="WEEKLY"
                                    />
                                    Weekly</label
                                >
                            </div>
                            <div class="checkbox col-md-2">
                                <label
                                    ><input
                                        type="radio"
                                        name="schedule"
                                        value="MOTHLY"
                                    />
                                    Monthly</label
                                >
                            </div>
                        </div>
                    </div>
                    <input
                        type="submit"
                        class="btn btn-primary btn-user btn-block"
                        value="Add Social Media"
                    />
                </form>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->
</div>

{% endblock %}
